
.root {
    -fx-font-family: "Inter", "System";
    -fx-accent: #009432;
}

.fondo-app {
    -fx-background-color: linear-gradient(to bottom right, #009432, #003366);
}

.fondo-crema {
    -fx-background-color: #F2E7D1;
}

.card {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 15, 0, 0, 8);
}

.header-maroon {
    -fx-background-color: #8D203D;
    -fx-padding: 10;
}

.container-conductor {
    -fx-border-color: #009432;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
}

.text-field, .password-field {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #009432;
    -fx-border-width: 1.5;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 8;
    -fx-flex-align: center;
    -fx-text-fill: #545454;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #003366;
    -fx-border-width: 2.5;
}

.btn-primary {
    -fx-background-color: #003366;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-background-radius: 25;
    -fx-cursor: hand;
}

.btn-primary:hover {
    -fx-background-color: #004a94;
}

.btn-secondary {
    -fx-background-color: #009432;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-background-radius: 25;
    -fx-cursor: hand;
}

.btn-link {
    -fx-background-color: transparent;
    -fx-text-fill: #003366;
    -fx-underline: true;
    -fx-cursor: hand;
}

.radio-button {
    -fx-text-fill: #003366;
    -fx-font-size: 14px;
}

.radio-button .radio {
    -fx-border-color: #009432;
    -fx-background-color: white;
}

.radio-button:selected .radio .dot {
    -fx-background-color: #009432;
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: #545454;
    -fx-border-width: 2;
}

.table-view .column-header {
    -fx-background-color: #545454;
    -fx-border-color: #FFFFFF;
}

.table-view .column-header .label {
    -fx-text-fill: #FFFFFF;
}

.table-row-cell:selected {
    -fx-background-color: #C29D5B;
}

.mensaje-error { -fx-text-fill: #8D203D; }
.mensaje-exito { -fx-text-fill: #009432; }


.hbox-form {
    -fx-spacing: 15;
    -fx-alignment: CENTER_LEFT;
}

.label-form {
    -fx-text-fill: #003366;
    -fx-font-weight: bold;
    -fx-min-width: 150;
}

.button:hover .circle {
    -fx-fill: #003366;
}

.container-form {
    -fx-border-color: #009432; 
    -fx-border-width: 2.5;
    -fx-border-radius: 10;
    -fx-background-color: white;
    -fx-background-radius: 10;
}

.btn-menu-dark {
    -fx-background-color: #003366;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.btn-menu-green {
    -fx-background-color: #009432;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.btn-guardar {
    -fx-background-color: #003366;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-background-radius: 30;
    -fx-cursor: hand;
}

.btn-menu-dark:hover, .btn-menu-green:hover, .btn-guardar:hover {
    -fx-opacity: 0.8;
}

.main-container-white {
    -fx-background-color: white;
    -fx-border-color: #009432;
    -fx-border-width: 3;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
}

.input-field {
    -fx-border-color: #009432;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.btn-menu-dark {
    -fx-background-color: #003366;
    -fx-text-fill: white;
    -fx-background-radius: 15;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.btn-menu-green {
    -fx-background-color: #009432;
    -fx-text-fill: white;
    -fx-background-radius: 15;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.cajon-disponible {
    -fx-background-color: rgba(0,255,0,0.3);
    -fx-border-color: red;
    -fx-border-width: 2px;
    -fx-text-fill: black;
}

.zona-auto {
    -fx-border-color: #27ae60; 
}

.zona-moto {
    -fx-border-color: #2980b9; 
}

.cajon-ocupado {
    -fx-background-color: #8D203D;
    -fx-border-color: #8D203D;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}


.cajon-disponible:hover {
    -fx-background-color: rgba(255,255,255,0.2);
}